  <h3>{{i18n 'lockdown.category_setting_heading'}}</h3>
  <section class="field">
    <label class="checkbox-label">
      {{input
        type="checkbox"
        checked=(readonly category.lockdown_enabled)
        change=(action "onChangeSetting" value="target.checked")
      }}
      {{i18n 'lockdown.lockdown_enabled'}}
    </label>
  </section>
  {{#if category.lockdown_enabled}}
    <section class='field'>
      <label>
        url to redirect
        {{input type='text' value=category.redirect_url}}
      </label>
    </section>
    <section class="field">
      <label>
        {{i18n 'lockdown.lockdown_allowed_groups'}}:
        {{group-selector groupNames=category.custom_fields.lockdown_allowed_groups groupFinder=groupFinder classNames="lockdownAllowedGroups"}}
      </label>
    </section>
  {{/if}}
