  <h3>{{i18n "lockdown.category_setting_heading"}}</h3>
  <section class="field">
    <label class="checkbox-label">
      <Input
        @type="checkbox"
        @checked={{readonly this.category.lockdown_enabled}}
        {{on "change" (action "onChangeSetting" value="target.checked")}}
      />
      {{i18n "lockdown.lockdown_enabled"}}
    </label>
  </section>
  {{#if category.lockdown_enabled}}
    <section class="field">
      <label>
        {{i18n "lockdown.redirect_url"}}
      </label>
      <Input @type="text" @value={{this.category.redirect_url}} />
    </section>
    <section class="field">
      <label>
        {{i18n "lockdown.lockdown_allowed_groups"}}:
      </label>
      {{group-selector groupNames=category.custom_fields.lockdown_allowed_groups groupFinder=groupFinder classNames="lockdownAllowedGroups"}}
    </section>
  {{/if}}
