<h3>{{i18n "lockdown.category_setting_heading"}}</h3>
<section class="field">
  <label class="checkbox-label">
    <Input
      @type="checkbox"
      @checked={{@outletArgs.category.custom_fields.lockdown_enabled}}
    />
    {{i18n "lockdown.lockdown_enabled"}}
  </label>
</section>
{{#if @outletArgs.category.custom_fields.lockdown_enabled}}
  <section class="field">
    <label>
      {{i18n "lockdown.redirect_url"}}
    </label>
    <Input
      @type="text"
      @value={{@outletArgs.category.custom_fields.redirect_url}}
    />
  </section>
  <section class="field">
    <label>
      {{i18n "lockdown.lockdown_allowed_groups"}}:
    </label>
    <GroupChooser
      @content={{this.availableGroups}}
      @valueProperty={{null}}
      @nameProperty={{null}}
      @value={{this.selectedGroups}}
      @onChange={{this.onChangeGroups}}
    />
  </section>
{{/if}}